body {
    background-image: url("./desert.jpg");
    background-size: auto;
    text-align: center;
    color: gray;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    
}
