body,html{
    height: 100%;
    background-image: url("./aquaduct.png");
    background-size: cover;
}
p{
  color: white;
}
.photoContainer{
  float: left;
  margin-top: 20px;
  border-radius: 25px;
  padding: 15px;
  background-color: indianred;
  position: relative;
  width: 400px;
}
.image{
  display: block;
}
.photoOverlay{
  border-radius: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: indianred;
  overflow: hidden;
  width: 430px;
  height: 0;
  transition: .5s ease;
}
.photoContainer:hover .photoOverlay, .SelfPhoto:hover .SelfOverlay{
  height: 100%;
}

.photoText{
  white-space: nowrap;
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.curVid{
  margin-top: 10px;
  background-color: burlywood;
  
  padding: 14px;
  float: right;
  float: top;
  border-radius: 25px;
}
.SelfPhoto{
  float: right;
  margin-top: 20px;
  border-radius: 25px;
  padding: 15px;
  background-color: burlywood;
  position: relative;
  width: 500px;
}
.description{
  border-radius: 25px;
  float: left;
  width: 500px;
  text-align: center;
  padding: 10px 10px;
}
div.Stats{
  padding: 15px;
  border-radius: 25px;
  margin-top: 20px;
  float:left;
  width: 40%;
  background-color: indianred;
}
div.Banner{
  color: antiquewhite;
  font-size: larger;
  font-weight: bolder;
}
div.glucose{
  color: antiquewhite;
  font-size: large;
  font-weight: bold;
}
div.diabetes
{
  color:black;
}
div.college{
  margin-top: 10px;
  width: 45%;
  float: left;
  background-color: cadetblue;
  border-radius: 25px;
  padding: 15px;
}

.navbar {
    
    border-radius: 25px;
    width: 100%;
    background-color: cadetblue;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color:white;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .navbar a:hover {
    background-color: black;
  }
  
  /* Current/active navbar link */
  .active {
    background-color:black;
  }
  .aboutImage{
    display: block;
  }
  .SelfText{
    white-space: nowrap;
    color:whitesmoke;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  .SelfOverlay{
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: burlywood;
    overflow: hidden;
    width: 530px;
    height: 0;
    transition: .5s ease;
  }
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
