body {
    background-image: url("./desert.jpg");
    background-size: auto;
    text-align: center;
    color: white;
}
table, th, tr {
    table-layout: fixed;
    width: 50%; 
    margin-left:auto; 
    margin-right:auto;
    border: 3px solid white;
}
